{% load static %}
<html>
    <head>
        <title>login</title>
        <style>
            body{
                background-color: aliceblue;
            }
            h1{
                background-color: aquamarine;
            }
        </style>
        <link rel="stylesheet" href="{% static 'css/external.css' %}">
    </head>
    <body >
        <center><h1 style="color:yellowgreen">Welcome to Thalassery</h1>
        <br><br>
        Name:
        <input type="text" nam="nam">
        <br><br><br>
        Password
        <input type="password" name="pas">
        <br><br><br>
        <input type="Submit" name="sub"><br>
    </center>
    </body>
</html>